.jumbotron {
  border-radius: 0 !important;
  margin: 0 0 0 0 !important;
}
#Activity div {
  background-color: #337ab7;
}
.img-responsive {
  width: 100%;
  margin: 5px 5px 5px 5px;
}
.shadow {
  box-shadow: 1px 3px 10px 6px #ccc;
}
ul {
  margin: 0 0 0 0;
}
.margin-left{
  margin-left: 7px !important;
}

//
//

.navbar-default .navbar-nav > .active > a, .navbar-default
.navbar-nav > .active > a:focus, ..navbar-default .navbar-nav >
.active > a:hover {
  color: #f50057;
}