<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desfo.org - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    
    //jquery
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script> 
    
    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  //awesome font
  <script src="https://use.fontawesome.com/14b3dc845a.js"></script>

  //scroll-spy
  <script type='text/javascript' src='javascript/myJquery.js'></script>
           
</head>
<body data-spy="scroll" data-target=".navbar">
  <!-- TODO: fix navbar
  http://codepen.io/benjaminvanzwienen/pen/NNdOoq?editors=0100
  -->
  <nav class="navbar navbar-default navbar-fixed-top shadow">
    <div class="container">
      <a class="navbar-brand navbar-left" href="#">Ryan Desfosses</a>
        <ul role="tablist" class="nav navbar-nav navbar-right">
          <li role="navigation"class="active"><a href="index.html#Home">Home</a></li>
          <li role="navigation" class><a href="index.html#About">About</a></li>
          <li role="navigation" class><a href="index.html#Activity">Activity</a></li>
          <li role="navigation" class><a href="cv.html">CV</a></li>
        </ul>
      </nav>
    </div>  
  </nav>

    $body$

  </div>
</body>