<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desfo.org - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/cd724a90ce.js"></script>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top shadow">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand navbar-left" href="#">Ryan Desfosses</a>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-extended="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul role="navigation" class="nav navbar-nav navbar-right">
          <li role="navigation"><a href="/index.html#Home">Home</a></li>
          <li role="navigation"><a href="/index.html#About">About</a></li>
          <li role="navigation"><a href="/index.html#Activity">Activity</a></li>
          <li role="navigation"><a href="/cv.html">CV</a></li>
        </ul>
      </div>
    </div>  
  </nav>
    <div class="container">
      $body$
    </div>
  </div>
</body>
